/api/.phpunit.cache
/api/node_modules
/api/public/build
/api/public/hot
/api/public/storage
/api/storage/*.key
/api/vendor
/api/.env
/api/.env.backup
/api/.env.production
/api/.phpactor.json
/api/.phpunit.result.cache
Homestead.json
Homestead.yaml
/api/auth.json
/api/npm-debug.log
/api/yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
/api/artisan